{% extends "baseLogin.html.twig" %}

{% block title %}Remerciements !!{% endblock %}

{% block body %}

<style>
    .main { margin-bottom : 250px}
</style>


<div class="main">
    <div class="container">
        <h1  class="text-center"> Remerciements</h1>
    <h4>Grâce à vôtre mobilisation pour DELTA, nous avons pu nous rendre conte, que la cause animale tient à coeur à beaucoup de personnes, et nous avons été fiers et touchés par vos gestes de sympathie et vos dons. Merci encore pour tout, et à bientôt.</h4>
    </div>
</div>

{% endblock %}